<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="QLSanBongMini"
         connectionString="Data Source=.;Initial Catalog=QLSanBongMini;Integrated Security=True;TrustServerCertificate=True;user ID = sa;password=bonganhhung1"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>